<div class="spaceColor" [style.background]="color">
    <div class="cornerLeft" (mouseover)="showButtons=true">{{ year }}
        <span class="showButtons" *ngIf="showButtons" (mouseout)="showButtons=false">
            <a class="button is-small is-danger"  (click)="onDeleteColor(id, $event)">
                Eliminar
           </a>
            <a class="button is-small is-info" [routerLink]="['./',id]">
                Editar
           </a>
        </span>
    </div>
    <div class="centerColor">
        <span> {{ nameColor }}</span><br>
        <span> {{ color }}</span>
    </div>
    <div class="cornerRight">{{ pantone }}</div>
</div>