<div class="columns">
    <div class="column">
        <div class="level">
            <div class="level-right">
                <a class="button is-info" [routerLink]="['./new']">Nuevo Color</a>
            </div>
        </div>
        <div class="level">
            <p>Para editar y eliminar un color pasar cursor por el lado derecho del año y se mostrará el botón editar y eliminar.</p>
        </div>
        <div class="level">
            <div class="level-item">
                <h2 class="subtitle is-3">
                    Colores
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <app-color *ngFor="let color of colors" (refresh)="refresh($event)" [year]="color.year" [nameColor]="color.name" [color]="color.color" [pantone]="color.pantone" [id]="color.id"></app-color>
</div>
<app-paginator [positionPag]="numPag" (numPaginador)="showColors($event)"></app-paginator>